@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  scrollbar-color: var(--color-slate-700) transparent;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
