@import "tailwindcss";

@theme {
  --color-brand-100: oklch(0.7529 0.1507 43.73);
  --color-brand-200: oklch(0.7529 0.1781 43.73);
  --color-brand-300: oklch(0.7529 0.1985 43.73);
  --color-brand-400: oklch(0.712 0.1985 43.73);
  --color-brand-500: oklch(0.6999 0.1985 43.73);
  --color-brand-600: oklch(0.6483 0.1985 43.73);
  --color-brand-700: oklch(0.6139 0.1985 43.73);
  --color-dark-300: oklch(0.7893 0.0253 259.82);
  --color-dark-400: oklch(0.6774 0.0361 255.27);
  --color-dark-500: oklch(0.5181 0.0316 260.26);
  --color-dark-600: oklch(0.3559 0.0278 265.36);
  --color-dark-700: oklch(0.3209 0.0247 265.56);
  --color-dark-800: oklch(0.2844 0.0198 264.19);
  --color-dark-900: oklch(0.2224 0.0198 264.19);

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --animate-move-in-left: move-in-left 1s cubic-bezier(0.21, 1.11, 0.81, 0.99);
  --animate-move-in-right: move-in-right 1s cubic-bezier(0.21, 1.11, 0.81, 0.99);

  @keyframes move-in-left {
    0% {
      transform: translateX(1rem);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes move-in-right {
    0% {
      transform: translateX(-1rem);
    }
    100% {
      transform: translateX(0);
    }
  }
}

html,
body {
    /* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid transparent;
    -webkit-text-fill-color: var(--color-dark-400);
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    color: var(--color-dark-400);
  }

  scrollbar-color: var(--color-dark-600) transparent;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
