@import "tailwindcss";

@theme {
  --color-dark-300: oklch(0.7893 0.0253 259.82);
  --color-dark-400: oklch(0.6774 0.0361 255.27);
  --color-dark-500: oklch(0.5181 0.0316 260.26);
  --color-dark-600: oklch(0.3559 0.0278 265.36);
  --color-dark-700: oklch(0.3209 0.0247 265.56);
  --color-dark-800: oklch(0.2844 0.0198 264.19);

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  scrollbar-color: var(--color-dark-600) transparent;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
